# General configurations
PORT=3000

# Database Configuration (NeonDB)
# Replace with your actual NeonDB connection string
DATABASE_URL="postgresql://[USER]:[PASSWORD]@[HOST]/[DATABASE]?sslmode=require"
